<div class="container d-flex justify-content-center p-5">
  <form style="max-width: 300px; flex: 1;" (submit)="onSubmit($event)" >
    <h2>Reset della password</h2>
    <div class="form-group">
      <label for="usernameInput">Nome utente / Email</label>
      <input autocomplete="email" class="form-control" id="usernameInput" placeholder="Inserisci qui il tuo username" [formControl]="email">
    </div>
    <div class="d-flex flex-row-reverse gap-1 mt-1">
      <button type="submit" class="btn btn-primary">Accedi</button>
      <button [routerLink]="'/'" type="button" class="btn btn-secondary">Annulla</button>
    </div>
  </form>
</div>
